*{
	margin:0;
	padding: 0;
	box-sizing:border-box;

}

body{
  background-color: wheat;
}

.body-content{
       background: url("../images/bg2.jpg") no-repeat center center;
    background-size: cover;
}

home-bg{
    height: 100vh;
    width: 100vw;
}

.landing-page{
	background: url(../images/tenor.gif) no-repeat center center;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

img{
	height:100%;
	width: 100%;
}

.content{
    margin: 0;
	text-decoration-color: none;
	background-color:rgba(0,0,0,0.40);
	height: 100%;
    width: 100%;
	text-align: center;
	line-height: auto;
}

a{
  color:white;
  text-decoration: none;
}


.foot {
	text-align: center;
	color: white; 
    background-color: rgba(97, 56, 15, 0.55);
	line-height:50px;
	width: 100%;
}

#about-bod{
    height: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
}


.logo{
    height: 50px;
    width: 50px;
    margin-right: 0;: 
}

.logo-text{
    color: white;
    font-family: 'Satisfy', cursive;
    font-size: 25pt;
    margin-left: 0;
    background: linear-gradient(to bottom left, #F2FC2A 0%, #E8810C 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.mission{
    margin-top: 3%;
    font-size: 13pt;
}


.vision{
    margin-top: 3%;
    font-size: 13pt;
}



.map {
	box-sizing: border-box;
	margin-bottom: 50px;
	margin-top: 10px;
    height: auto;
}

.input-forms {
	box-sizing: border-box;
}




#navi {
	border: 1px solid rgba(231, 64, 64, 0.24);
	font-family: 'Lato', sans-serif;
  background-color: rgba(231, 64, 64, 0.74);
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 1000;
	font-size: 13pt;
  transition: 0.5s;
}

 #text-cont{
    font-size: 50pt;
    font-family: 'Tangerine', cursive;
    text-shadow: 0px 0 2px grey;
    padding-top: 20px;
    margin-bottom: 20px;
 }

 #body-cont{
    height: 100vh;
 }

.gal {
	height: auto;
}

#navi-link {
	border-left: 1px solid rgba(0,0,0,0.50);
	border-bottom-left-radius: 4px;
	border-left-style: groove;

}

#navi-link:hover{
	background-color: blanchedalmond;
	box-shadow: 0px 0px 2px 0px wheat;
	text-shadow: 1px 2px 1px grey;
  color: black;
	
}


.active{
    background-color: wheat;
    color:black;
}

.carousel-inner{
  height: 85%;
}

.gal-car{
    width: 85%;
}

.index-header {
	text-align: center;
	font-family: 'Yellowtail', cursive;
	font-size: 4em;
	text-shadow: 2px 0 2px wheat;
    color: rgba(231, 64, 64);
    padding-top: 17vh;
	
}

.index-bod{
    font-size: 3em;
    text-shadow: 2px 0 2px wheat;
    color: rgba(231, 64, 64);
    font-family: 'Parisienne', cursive;
    font-weight: 3px;
}

#index-btn{
    background-color: transparent;
    border: 1px solid wheat;
    font-size:20pt;
    color: wheat;
    font-family: 'Great Vibes', cursive;
}

#index-btn:hover{
    background-color: wheat;
    color: rgba(231, 64, 64);
}

.navi-link{
  color:white;
}

.nav-link:hover{
  background-color: wheat;
    color: black;
}


.cap {
	width: auto;
	background-color: rgba(0,0,0,0.20);
	line-height: 20px;
}

.carousel-item {
	height: 100%;
	width: 100%;
}

.carousel-control-prev:hover {
	background-color: rgba(0,0,0,0.10)
	
}

.carousel-control-next:hover {
	background-color: rgba(0,0,0,0.10)
	
}


.home-cards{
    margin-top: 30px;
    height: auto;
    margin-bottom: 30px;

}

.about-photo{
  vertical-align: center;
  margin-top: 50px;
}